/** Author *****************************************************************/
.li-author {
    margin-bottom: 20px;
}

.social-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.social-buttons:after {
  overflow: hidden;
}
.social-buttons li {
  float: left;
  margin: 0 10px 10px 0;
  padding: 0;
}
iframe.twitter-share-button {
  width: 90px !important;
  margin-bottom: 0;
}
iframe.hatena-bookmark-button-frame {
  margin-bottom: 0;
}
.fb-like {
  line-height: 1;
}

table {
  margin: 0 auto;
  border: none;
  border-collapse: separate;
  border-spacing: 4px;
  background: #fafafa;
}

table th {
  border-bottom: solid 1px #666;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  padding: 4px;
}

table tr td {
  vertical-align: middle;
  overflow: hidden;
  padding: 2px;
}
